
<div class="container d-flex w-100 h-100 p-5 mx-auto flex-column">
    
    <table class="table table-dark">
    <tr>
      <td><h2>IP : <%=@board.ip_address %></h2></td>
    </tr>
    <tr>
      <td><h2>Content : <%=@board.contents %></h2></td>
    </tr>
    <td ><a href = "/" class="btn btn-primary btn-block"> 목록으로</a></td>
    
    </table>
    
<div>